.cabecalho {
    background-color: rgb(214, 209, 219);
    color:beige
    disolay: flex;
    justify-self: space-around;
    aling-1itens: center;
    padding: 24px 0;
}
.cabecalho-imagem{
     width: 20%;
}
  .cabecalho-lista-1item{
       display: inline-block;
       margin: 0 16px;
       font-size: 24px;
  }